.w100
    width:100%;
.mgtop0
    margin-top:0!important
.font14
    font-size:14px!important
.full
    width:100%
    height:100%
.input-rtl .mint-cell-value input
    text-align:right
    direction:rtl
.my-button
    line-height:40px
    height:40px
    font-size:18px
    margin-top:10%
.flex-row-center
    display:flex!important
    flex-direction:row
    justify-content:center
.flex-row-between
    display:flex!important
    flex-direction:row
    justify-content:space-between
.flex-column-center
    display:flex!important
    flex-direction:column
    justify-content:center
$blue = #29a1f7
$gray = #f9f9f9





// ----------------
.border-bottom,
.mint-navbar{
    border-bottom: 1px solid #e9eef5;
}
/*主要分割线*/

.border-bottom2{
    border-bottom: 1px solid #e9eef5;
}
/*次要分割线*/

.fc-blue{
    color: #29a1f7;
}
.fc-title{ color: #232b38;}
/*标题、人名、公司名称等*/
.fc-p{
    color: #4b545e;
}/*正文*/
.fc-name{
    color: #848a99;
}
/*身份、描述等*/

.fc-form{
    color: #a4afbd;
}
/*描述性文字*/

.fc-orange{
    color: #a4afbd;
}
/*橘色*/

.fc-red{
    color: #f36058;
}
/*红色*/

.fc-green{
    color: #f36058;
}
/*绿色*/