.w100
    width:100%;
.mgtop0
    margin-top:0!important
.mgbt10
    margin-bottom:10px!important
.font14
    font-size:14px!important
.full
    width:100%
    height:100%
.line-sp
    margin-top:-15px
.txt-center
    text-align:center
.error
    color:#f36058
    width:100%
    padding:5px 5% 0 5%
    font-size:14px
    height:15px
.ellipsis
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
.input-rtl .mint-cell-value input
    text-align:right
    direction:rtl
.my-button
    line-height:40px
    height:40px
    font-size:18px
    margin-top:10%
.flex-row-center
    display:flex!important
    flex-direction:row
    justify-content:center
.flex-row-between
    display:flex!important
    flex-direction:row
    justify-content:space-between
.flex-column-center
    display:flex!important
    flex-direction:column
    justify-content:center
.flex-column-between
    display:flex!important
    flex-direction:column
    justify-content:space-between
// mixin
$blue = #29a1f7
$gray = #f9f9f9
$gray2 = #9da2ae
$orange = #fd6d4a

extend-click()
    position: relative
    &:before
        content: ''
        position: absolute
        top: -10px
        left: -10px
        right: -10px
        bottom: -10px

bor-bottom-1px()
    position: relative
    &:after
        content: ''
        position: absolute
        left: 0
        bottom: 0
        width: 100%
        height: 1px
        background:#e9eef5
        transform: scaleY(0.5)

// 通用
.bg-gray
    background:#f9f9f9!important
.info-title //左侧带蓝竖线的标题
    padding:10px 10px 13px 10px!important
    position: relative
    font-size:16px!important
    color:#333
    font-weight:bold
    bor-bottom-1px()
    &:before
        content: ''
        display:block
        position: absolute
        left: 0px
        bottom: 13px
        width: 2px
        height: 16px
        background:$blue
.my-nav
    display:flex!important
    flex-direction:row
    justify-content:space-between
    text-align:center
    width:100%
    position:fixed
    top:40px
    z-index:40
    background:#fff
    border-bottom: 1px solid #e9eef5;
.my-tab
    display:inline-block
    font-size:16px
    color:#4b545e
    &.active
        color:$blue
.nav-item
    text-align:center
    padding: 17px 0;
    flex:1 1 auto
    position:relative
    &:nth-child(n+2):before
        content: ''
        display:block
        position: absolute
        left: 0px
        bottom: 15px
        width: 1px
        height: 20px
        background:#e9eef5
    &.active
        border-bottom:2px solid $blue
        .my-tab
            color:$blue
        .my-tab2
            color:$blue
        .iconfont
            color:$blue
.post-item
    background:#fff
    padding:13px 7% 13px 5%
    position:relative
    margin-bottom:3px


// 动画
.slide-up-enter,.slide-up-leave-to
    transform:translate3d(0,100%,0)
.slide-up-enter-active,.slide-up-leave-active
    transition: all 0.3s ease

.slide-left-enter,.slide-left-leave-to
    transform:translate3d(-100%,0,0)
.slide-left-enter-active,.slide-left-leave-active
    transition: all 0.3s ease

.slide-right-enter,.slide-right-leave-to
    transform:translate3d(100%,0,0)
.slide-right-enter-active,.slide-right-leave-active
    transition: all 0.3s ease

.slide-down-enter,.slide-down-leave-to
    transform:translate3d(0,-100%,0)
.slide-down-enter-active,.slide-down-leave-active
    transition: all 0.3s ease

.fade-enter-active, .fade-leave-active
  transition: opacity 0.3s
.fade-enter, .fade-leave-to
  opacity: 0

.slide-move-enter
    transform:translate3d(100%,0,0)
.slide-move-enter-active,.slide-move-leave-active
    transition: all 0.3s ease
.slide-move-leave-to
    transform:translate3d(0,0,0)